
/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif; 
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 0;
}
.img{
    width: 10%;
}

/*
Cabeçalho
*/
.cabeçalho{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    flex-direction: row ;
    gap:  1rem;
    position: fixed;
}

/*imagem*/
#logo_escola{
    width: 5%;
    max-width: 120px;
}

/*Títulos*/
#escola{
    font-family: "serif";
    font-size: 150%;
}

#empresa{
    font-size: 125%;
    color: #B4B4B5;
}

/*
Calendario
*/

.Calendario{
    display: flex;
    background-color: #ddd9c5;
    width: 2.5em;
    height: 2.5em;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 9em;
}

/*
Tela central
*/

.atividade{
    background-color: #F0F0F0;
    width: 65em;
    height: 50em;
    left: 43em;
    bottom: 0;
    position: relative;
}

.titulo_tela{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}